<h1>Welcome to Our Shopping Experience!!!</h1>
<form #loginForm="ngForm" class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input type="text" id="username" matInput required value="sulu" [(ngModel)]="username" name="username">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" id="password" matInput required [(ngModel)]="password" name="password">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <button mat-raised-button color="primary" (click)="login()" class="example-full-width">Login</button>
</mat-form-field>
</form>
